@media (max-width: 500px) {
  .pagewrap {
    flex-direction: column;
    flex: 1;
  }
  header{
  	color:white;
    border-radius: 5px;
  }
  main {
    flex: 1;
    background-color: black;
    color:red;
    border: 3px solid red;
    border-radius: 5px;
  }
	nav, aside{
    flex: 0 0 12em;
    border-radius: 5px;
  } 
}