/*  */
@media (max-width: 480px) {
body{
	background-color: #ffa500;
}
.pagewrap{
	padding: 0;
}
.flexwrap{
	display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: column;
           flex-flow: column;
}
/*************************header***********************/
header{
  	background-color: #ffa500;
  	border: none;
  	margin: auto;
}
header h1{
	margin: 20px auto 0 auto;
	text-align: center;
	font-size: 2.0em;
	line-height: 1em;
	text-transform: uppercase;
}
header h1 a{
	text-decoration: none;
	color: #333333;
}
.nav{
	list-style-type: none;
	width: 90%;
	margin: 20px 5% 0 30px;
	list-style: none;
	display: block;
}
.mainnav{
	height: 40px;
	width: 48%;
	background-color: #f0f0f0;
	float:left;
	font-size:1.15em;
	text-align: center;
	margin: 10px 1% 10px 1%;

}
li a{
	color: #333333;
	text-decoration: none;
	padding-top: 10px;
}
/**************************main content****************/
section{
   -webkit-flex: 100%;
           flex: 100%;
   -webkit-order: 1;
           order: 1;
}
section h1{
	margin: -70px 0 0 10px;
	font-size: 2em;
	line-height: 1em;
}
h2{
	margin: 70px 0 10px 10px;
}
section p{
	margin: 15px 10px 15px 10px;
}
/************************aside************************/
aside{
	margin: auto;
	display: block;
	width: 90%;
}
aside h1{
	width: 90%;
	text-align: center;
}
aside li{
	display: inline;
	float: left;
	padding: 0 5% 0 5%;
	width: 45%;
}
/************************footer***********************/
footer h1{
	margin: 0 0 3px 10px;
}
footer p{
	margin: 0 0 0 10px;
}
.footer_flex{
	display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: column;
           flex-flow: column;
   margin: 40px 0 0 50px;
}
nav{
	flex: 100%;
	order: 1;
	margin: 0 0 0 -23px;
}
footer h2{
	margin: 70px 0 10px -23px;
}
.bonds{
	flex: 100%;
	order: 2;
}
.villians{
	flex: 100%;
	order: 3;
}
}