/********************************begin main css*******************************/
body{
	max-width: 580px;
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
	background-image: url("../images/sweaterBlueBG.png");
}
/***********************header***********************/
header{
	height:300px;
	background-image: url("../images/nav-background.gif");
}
.logo{
	margin: 2px 0 0 15px;
}
/***********************Aside***********************/
aside{
	width:100%;
	float: right;
}
aside h2{
	margin: 15px 0 0 15px;
	position: absolute;
	font-weight: 700;
}
aside h3{
	float: right;
	margin: 15px 15px 0 0;
}
.currentConditions{
	width: 100%;
	background-color: white;
	height: 100px;
}
.currentConditions img{
	margin: 10px 0 0 50px;
}
.currentConditions h2{
	margin: 15px 0 0 15px;
	position: absolute;
	color: #004f9d;
}
.currentConditions a:visited{
	color: #004f9d;
}
.snowTotals{
	height: 50px;
	background-color:#004f9d;
	font-weight: 500;
	width: 100%;
	margin: auto;
}
.snowTotals h2{
	 color: white;
}
.snowTotals a{
	color: white;
}
.snowTotalsList{
	width: 99.7%;
	margin: auto;
	height: 100px;
	background-color:#c3c6c2;
	border: 1px solid #a7aba7;
}
.snowTotalsList li{
	width: 32%;
	float: left;
	background-color:#c3c6c2;
	border-left: 1px solid #a7aba7;
	height: 100px;
	text-align: center;
	color: #8c938b;
}
.snowTotalsList h4{
	padding-top: 10px;
}
.snowTotalsList p{
	color: #555555;
	font-size: 2.5em;
	margin-top: 15px;
	font-weight:lighter;
}
.roadStatus{
	//background-color: #d9dbd5;
	background-color:#004f9d;
	height: 150px;
}
.roadStatus h2{
	color: white;
}
.roadStatus a{
	color: white;
}
/****************************Menu**************************/
nav{
	display: none;
	width: 580px;
}
.hamburger{
  display: block;
  background:none;
  float:right;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#004f9d;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  float:right;
  padding:0px 15px 0px 15px;
  color:#004f9d;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: .2em;

	width: 100%;
	z-index:1000000; 
	font-size:0.8em; 
	background-image: url("../images/nav-background.gif");
	text-align:center;
	}
.menu ul {margin: 0; 
		padding: 0; 
		list-style-type: none; 
		list-style-image: none;
		max-width: 580px;
	}
.menu li {display: block;   
		padding:15px 0 15px 0; 
		width: 100%;
		font-weight: bold;
	}
.menu li:hover{display: block;    
		padding:15px 0 15px 0; 
	}
.menu a{text-decoration:none; 
		color: #004f9d;
	}
.menu a:hover{text-decoration:none; 
		color:#da1f3c;
	}
/***********************Main******************/
main{
	background-image: url("../images/welcomeBG2.png");
}
.welcome{
	margin: -100px 0 0 0;
	width: 100%;
}
.mainFunctions{
	margin-top: 0px;
}
.mainFunctions {
	
}
.purchase{
	background-color: #bb203d;
	margin: 0 0 15px 13%;
	width: 74%;
	height: 50px;
}
.purchase a{
	color: white;
	font-size: 2em;
}
/****************************Footer***********************/
footer{
	width: 100%;
}
.socialMedia{
	width: 60%;
	margin: 0 auto 20px auto;
}
.socialMedia li{
	width: 25%;
	float: left;
}
.finalImage{
	margin-top: 20px;
	width: 100%;
}


